/* Style pour les boutons de résolution */
#resolutionButtons {
    display: flex;
    gap: 5px; /* Espace entre les boutons */
    margin-bottom: 10px;
    align-items: flex-start; /* Aligne les boutons à gauche */
}

#resolutionButtons button {
    width: 60px;
    height: 30px;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    flex: none;
    text-align: center;
    line-height: 30px; /* Centre le texte verticalement */
}

/* Section contenant la vidéo et la playlist */
.video-section {
    display: flex;
    align-items: flex-start;
    gap: 10px; /* Espace entre la vidéo et la playlist */
}

/* Conteneur de la vidéo */
#video-container {
    flex: 2;
}

/* Style pour la vidéo */
#videoPlayer {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Conteneur de la playlist */
#playlist {
    flex: 1;
}

/* Style pour la liste des segments */
#segmentList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style des éléments de la playlist */
#segmentList .segment-item {
    display: flex;
    align-items: center;
    padding: 6px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

#segmentList .segment-item:hover {
    background-color: #e6f0ff;
    transform: scale(1.02);
}

/* Style des miniatures */
#segmentList .segment-item img {
    width: 50px;
    height: 38px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    object-fit: cover;
}

/* Style du texte des segments */
#segmentList .segment-text {
    font-size: 12px;
    color: #333;
}

/* Style pour le segment en cours de lecture */
#segmentList .segment-item.playing {
    background-color: #007bff;
    color: white;
}

#segmentList .segment-item.playing .segment-text {
    color: white;
}

#segmentList .segment-item.playing img {
    border-color: white;
}

/* Style pour les segments manquants */
#segmentList .segment-item.segment-missing {
    border: 2px solid red;
}
